Repository aplneto/medmapper, pull requests merged in 2019-05, with the labels that each got.

#44 adição dos modelos e tables de áreas, contatos e locais.
  back_app/Gemfile
  back_app/Gemfile.lock
  back_app/app/models/area.rb
  back_app/app/models/commentary.rb
  back_app/app/models/contact.rb
  back_app/app/models/hospital.rb
  back_app/app/models/local.rb
  back_app/app/models/professional.rb
  back_app/app/models/user.rb
  back_app/db/migrate/20190504023928_create_users.rb
  back_app/db/migrate/20190507152713_add_email_to_user.rb
  back_app/db/migrate/20190511233528_create_professionals.rb
  back_app/db/migrate/20190512025705_create_areas.rb
  back_app/db/migrate/20190512025714_create_contacts.rb
  back_app/db/migrate/20190512025725_create_locals.rb
  back_app/db/migrate/20190513013154_create_commentaries.rb
  back_app/db/schema.rb
  back_app/spec/factories.rb
  back_app/spec/models/area_spec.rb
  back_app/spec/models/commentary_spec.rb
  back_app/spec/models/contact_spec.rb
  back_app/spec/models/local_spec.rb
  back_app/spec/models/professional_spec.rb
  back_app/spring-1000/7424e01542906e25ff638e0234b12b9e.pid
Labels: back

#52 Apln2
  back_app/Gemfile
  back_app/Gemfile.lock
  back_app/app/controllers/application_controller.rb
  back_app/app/controllers/basic_health_units_controller.rb
  back_app/app/controllers/hospitals_controller.rb
  back_app/app/controllers/pharmacies_controller.rb
  back_app/app/controllers/specialized_units_controller.rb
  back_app/app/models/application_record.rb
  back_app/app/models/area.rb
  back_app/app/models/basic_health_unit.rb
  back_app/app/models/commentary.rb
  back_app/app/models/contact.rb
  back_app/app/models/hospital.rb
  back_app/app/models/local.rb
  back_app/app/models/pharmacy.rb
  back_app/app/models/professional.rb
  back_app/app/models/specialized_unit.rb
  back_app/app/models/specialty.rb
  back_app/app/models/user.rb
  back_app/config/routes.rb
  back_app/db/migrate/20190504023928_create_users.rb
  back_app/db/migrate/20190504023933_create_hospitals.rb
  back_app/db/migrate/20190507152713_add_email_to_user.rb
  back_app/db/migrate/20190507215251_correcting_user_table.rb
  back_app/db/migrate/20190511233528_create_professionals.rb
  back_app/db/migrate/20190512025705_create_areas.rb
  back_app/db/migrate/20190512025714_create_contacts.rb
  back_app/db/migrate/20190512025725_create_locals.rb
  back_app/db/migrate/20190513013154_create_commentaries.rb
  back_app/db/migrate/20190519015528_create_pharmacies.rb
  back_app/db/migrate/20190519022850_create_hospitals.rb
  back_app/db/migrate/20190519025337_create_basic_health_units.rb
  back_app/db/migrate/20190519025444_create_specialized_units.rb
  back_app/db/migrate/20190519025551_create_specialties.rb
  back_app/db/schema.rb
  back_app/db/seeds.rb
  back_app/spec/controllers/basic_health_units_controller_spec.rb
  back_app/spec/controllers/hospitals_controller_spec.rb
  back_app/spec/controllers/pharmacies_controller_spec.rb
  back_app/spec/controllers/specialized_units_controller_spec.rb
  back_app/spec/factories.rb
  back_app/spec/models/area_spec.rb
  back_app/spec/models/basic_health_unit_spec.rb
  back_app/spec/models/commentary_spec.rb
  back_app/spec/models/hospital_spec.rb
  back_app/spec/models/pharmacy_spec.rb
  back_app/spec/models/professional_spec.rb
  back_app/spec/models/specialized_unit_spec.rb
  back_app/spec/models/specialty_spec.rb
  back_app/spec/requests/basic_health_units_spec.rb
  back_app/spec/requests/hospitals_spec.rb
  back_app/spec/requests/pharmacies_spec.rb
  back_app/spec/requests/specialized_units_spec.rb
  back_app/spec/routing/basic_health_units_routing_spec.rb
  back_app/spec/routing/hospitals_routing_spec.rb
  back_app/spec/routing/pharmacies_routing_spec.rb
  back_app/spec/routing/specialized_units_routing_spec.rb
  back_app/spec/spec_helper.rb
  docs/iteration3/novo_modelo_relacional.md
Labels: back, data-base, help wanted, urgent

#56 Rails gerando views novamente
  back_app/.rspec
  back_app/Gemfile
  back_app/Gemfile.lock
  back_app/app/assets/config/manifest.js
  back_app/app/assets/images/.keep
  back_app/app/assets/javascripts/application.js
  back_app/app/assets/javascripts/cable.js
  back_app/app/assets/javascripts/channels/.keep
  back_app/app/assets/stylesheets/application.css
  back_app/app/assets/stylesheets/scaffolds.scss
  back_app/app/controllers/application_controller.rb
  back_app/app/helpers/application_helper.rb
  back_app/app/models/abstract_health_unit.rb
  back_app/app/models/hospital.rb
  back_app/app/models/pharmacy.rb
  back_app/app/views/hospitals/index.html.erb
  back_app/app/views/layouts/application.html.erb
  back_app/config/application.rb
  back_app/spec/factories.rb
  back_app/spec/models/pharmacy_spec.rb
  back_app/spec/rails_helper.rb
Labels: back, bug, front

#76 apln2 resolução de bug e mudança no banco de dados
  back_app/Gemfile
  back_app/Gemfile.lock
  back_app/app/controllers/comments_controller.rb
  back_app/app/controllers/concerns/searcher.rb
  back_app/app/controllers/health_units_controller.rb
  back_app/app/controllers/odontology_units_controller.rb
  back_app/app/controllers/pages_controller.rb
  back_app/app/helpers/application_helper.rb
  back_app/app/models/abstract_unit.rb
  back_app/app/models/basic_health_unit.rb
  back_app/app/models/comment.rb
  back_app/app/models/diagnosis_unit.rb
  back_app/app/models/emergency_unit.rb
  back_app/app/models/family_health_unit.rb
  back_app/app/models/health_unit.rb
  back_app/app/models/hospital.rb
  back_app/app/models/maternity_clinic.rb
  back_app/app/models/mental_health_unit.rb
  back_app/app/models/odontology_unit.rb
  back_app/app/models/pharmacy.rb
  back_app/app/models/polyclinic.rb
  back_app/app/models/professional_profile.rb
  back_app/app/models/specialized_unit.rb
  back_app/app/models/user_profile.rb
  back_app/app/views/health_units/index.html.slim
  back_app/app/views/health_units/show.html.slim
  back_app/app/views/health_units/specialty.html.slim
  back_app/app/views/layouts/navigation/_footer.slim
  back_app/app/views/layouts/navigation/_header.slim
  back_app/app/views/layouts/navigation/_sidebar.slim
  back_app/config/environments/production.rb
  back_app/config/routes.rb
  back_app/db/migrate/20190525051237_create_hospitals.rb
  back_app/db/migrate/20190525060459_create_pharmacies.rb
  back_app/db/migrate/20190525061129_create_specialized_units.rb
  back_app/db/migrate/20190525061955_create_basic_health_units.rb
  back_app/db/migrate/20190526061455_add_columns_to_health_units.rb
  back_app/db/migrate/20190526213209_add_columns_to_health_unit.rb
  back_app/db/migrate/20190530194745_add_type_and_category_to_health_unit.rb
  back_app/db/migrate/20190530201334_add_indexes_to_health_unit.rb
  back_app/db/schema.rb
  back_app/db/seeds.rb
  back_app/public/terms.html
  back_app/spec/factories.rb
  back_app/spec/models/filantropic_unit_spec.rb
  back_app/spec/models/private_unit_spec.rb
  back_app/spec/models/public_unit_spec.rb
  docs/iteration4/entidade-relacionamento.brM3
Labels: back, data-base, urgent
